---
title: 'หน้าแรก'
layout: default
excerpt: 'บล็อกจดบันทึกความรู้ภาษาโอกินาว่า หรือ อุชินากุจิ (うちなーぐち) ภาษาพื้นเมืองของชาวเกาะโอกินาว่า สมบัติทางวัฒนธรรมของอาณาจักรริวกิว'
---

<div class="uk-padding-large">
    <h1 class="text-red">
        ยินดีต้อนรับ
        めんそーれ
        <code>(mensoore)</code>
    </h1>
    <h2>ภาษาโอกินาว่าคืออะไร?</h2>
    <div>
        <h3 class="uk-inline text-red">　บทนำ</h3>
        ทำความรู้จักกับภาษาโอกินาว่า และความแตกต่างกับภาษาญี่ปุ่น
        <a href="/about.html">อ่านเพิ่ม »</a>
    </div>
    <hr>
    <h2>บทความล่าสุด</h2>
    {% if site.posts.size > 0 %}
        <ul class="uk-list uk-list-large uk-list-divider post-list">
            {% for post in site.posts limit: 5 %}
                <li>
                    <h4>
                        <a href="{{post.url}}">{{post.title | furigana}}</a>
                    </h4>
                    <p>
                        {{post.excerpt | kanji_only}}
                    </p>
                    <div class="uk-text-small uk-text-muted">
                        {{post.date | date: '%Y/%m/%d'}}
                        <a href="{{post.url}}">อ่านต่อ »</a>
                    </div>
                </li>
            {% endfor %}
        </ul>
        <div class="uk-text-center">
            <a href="/archive.html" class="uk-button uk-button-default">ดูบทความทั้งหมด</a>
            <a href="/tags.html" class="uk-button uk-button-default">ดูบทความแยกตามหัวข้อ</a>
        </div>
    {% else %}
        <div class="uk-alert uk-alert-warning">
            ขณะนี้ยังไม่มีบทความใด ๆ
        </div>
    {% endif %}
</div>
