---
layout: default
title: 'รายการหัวข้อ'
---

<div class="uk-padding-large">
    <h3>รายการหัวข้อ</h3>
    {% if site.tags.size > 0 %}
        {% for tag in site.tags %}
            {% if forloop.index > 1 %}<hr>{% endif %}
            <div class="uk-padding-small uk-padding-remove-horizontal">
                <a id="{{tag[0]}}"></a>
                <div class="uk-text-bold">{{tag[0]}}</div>
                {% for post in tag[1] reversed %}
                    <div style="margin-left: 1em;"><a href="{{post.url}}">{{post.title}}</a></div>
                {% endfor %}
            </div>
        {% endfor %}
    {% else %}
        <div class="uk-alert uk-alert-warning">
            ขณะนี้ยังไม่มีหัวข้อใด ๆ
        </div>
    {% endif %}
</div>
