body, * {
    font-family: sans-serif;
}

nav.uk-navbar {
    height: 4em;
    background-color: #d41e1e;
}

nav.uk-navbar a {
    color: #ffffff;
    transition: none;
}
nav.uk-navbar a:hover {
    background-color: #d86363;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0 5px 10px 1px #666666;
    color: #ffffff !important;
}

.text-red {
    color: #aa0303;
}

code {
    white-space: normal !important;
    font-size: 0.7em;
}

code.language-ryu {
    font-size: 1.5em;
    color: #aa0303;
}

.post-list h4 {
    margin-bottom: 10px;
}

.ryu-text, .ryu-text code {
    background: none;
}

.ryu-text:hover, .ryu-text:hover rt {
    background-color: #f8f8f8;
}

.ryu-text {
    color: #d41e1e;
    font-size: 1.2em;
}

.ryu-text rt {
    font-size: 0.55em;
}
