<!doctype html>
<html lang="th">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
        <title>ภาษาโอกินาว่า - {{page.title}}</title>
        <meta name="description" content="{{page.excerpt}}">
        <meta name="keywords" content="ภาษาโอกินาว่า,ภาษาโอกินาวะ,ภาษาโอกินะวะ,โอกินาว่า,โอกินาวะ,โอกินะวะ{% for tag in page.tags %},{{tag}}{% endfor %},ญี่ปุ่น,ภาษาญี่ปุ่น">
        <meta name="author" content="Ponlawat Weerapanpisit">
        <link rel="stylesheet" href="/assets/css/uikit.min.css">
        <link rel="stylesheet" href="/assets/css/styles.css">
    </head>
    <body>
        <div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky">
            <nav id="nav" class="uk-navbar-container" uk-navbar>
                <div class="uk-navbar-left">
                    <a href="/" class="uk-navbar-item uk-logo">ภาษาโอกินาว่า</a>
                </div>
                <div class="uk-navbar-right">
                    <ul class="uk-navbar-nav">
                        <li><a href="/index.html">หน้าหลัก</a></li>
                        <li><a href="/about.html">เกี่ยวกับ</a></li>
                        <li class="uk-visible@s"><a href="https://shisa.app/">shisa.app</a></li>
                    </ul>
                </div>
            </nav>
        </div>
        {{content}}
        <script src="/assets/js/uikit.min.js"></script>
        <script src="/assets/js/uikit-icons.min.js"></script>
    </body>
</html>
